@-moz-document domain("www.youtube.com") {
    #page, #masthead-appbar, #content, div .yt-card, .yt-uix-sessionlink, .yt-lockup-byline, #yt-masthead-container, #appbar-guide-menu, #masthead-positioner-height-offset, button.edit-button, button.remove-watched-button, button.playlist-add-video-button, button.yt-uix-inlineedit-edit, #footer, #footer-container, #body-container, li.currently-playing, #watch-appbar-playlist, .playlist-title, h4, .yt-uix-scroller-scroll-unit, .pl-video-edit-more, .yt-uix-menu-trigger, .yt-uix-menu-trigger-selected, .yt-uix-menu-content, .yt-ui-menu-content, .pl-video-edit-remove, .yt-ui-menu-item, #yt-picker-language-button, #yt-picker-country-button, #yt-picker-safetymode-button, #google-help, .yt-picker, .secondary-header-contents, .yt-live-chat-item-list-renderer, .yt-lockup-description, .yt-uix-livereminder-main-button, .comment-simplebox, .comment-simplebox-text, .comment-simplebox-cancel, .dashboard-widget-header, .dashboard-widget-padded-content, .dashboard-widget-view-all-link, .shelf-description, .yt-uix-button, .ytd-masthead, ytd-guide-section-renderer, ytd-playlist-sidebar-renderer, ytd-section-list-renderer, #non-appbar-vm-video-actions-bar, .vm-video-item, .yt-uix-pager, #vm-pagination {
        background: #171b1f !important;
    }
    #masthead-appbar,
    #yt-masthead-container,
    div#appbar-guide-menu,
    #watch8-action-buttons {
        border: #171b1f !important;
    }
    .epic-nav-item-heading,
    .yt-uix-button-content,
    .branded-page-module-title-text,
    .display-name.no-count,
    .display-name,
    span.yt-badge,
    #eow-title,
    #eow-description,
    .yt-uix-sessionlink,
    .comment-renderer-text-content,
    .watch-time-text,
    .pl-header-title,
    #footer-links-primary li a,
    .yt-ui-menu-item,
    #yt-picker-language-button,
    #yt-picker-country-button,
    #yt-picker-safetymode-button,
    #google-help,
    .yt-picker,
    h3,
    strong,
    .secondary-header-contents,
    span.nav-text,
    h4,
    .yt-live-chat-item-list-renderer,
    #message,
    #author-name,
    .yt-lockup-description,
    .yt-uix-livereminder-main-button,
    .comment-simplebox-text,
    .comment-simplebox-cancel,
    h2 a,
    p.total,
    .dashboard-widget-header,
    .dashboard-widget-padded-content,
    .shelf-description,
    .yt-uix-button,
    ytd-guide-section-renderer,
    ytd-playlist-sidebar-renderer,
    ytd-section-list-renderer,
    .yt-formatted-string,
    yt-formatted-string,
    .ytd-grid-video-renderer,
    #title,
    .vm-video-side-view-count a {
        color: #b1b1b1 !important;
    }
    .yt-uix-dragdrop-drag-handle,
    .addto-watchlater-button,
    .addto-watchlater-success {
        background: #106696 !important;
        color: #106696 !important;
    }
    h2 a,
    li div,
    .dashboard-channel-link {
        text-shadow: None !important;
    }
    span.title,
    span#eow-title,
    .dashboard-widget-view-all-link,
    #video-title {
        color: #106696 !important;
    }
    .comment-simplebox-arrow {
        display: none;
    }
    #guide-button,
    .yt-uix-button-icon-material-upload,
    #yt-masthead-notifications-button {
        border: 1px #106696 !important;
        border-style: solid !important;
    }
}

@-moz-document domain("kitsu.io") {
    .global-container, tr, div.card, body, .modal-content, .modal-footer {
        background: #171b1f !important;
    }
    nav {
        background: 0 0 !important;
        border: rgba(0, 0, 0, 0) !important;
    }
    .dark-cover-overlay,
    input#search,
    .library-search-input {
        background: 0 0 !important;
    }
    .library-search-input,
    th,
    .title-wrapper a,
    .current-rating,
    h5,
    label {
        color: #b1b1b1 !important;
    }
}

@-moz-document domain("news.ycombinator.com") {
    body, table, a, span {
        background: #171b1f !important;
        color: #b1b1b1 !important;
    }
}

@-moz-document domain("omz-software.com") {
    body, .document, #module-ui, a, h1, h2, h3, .pre, tt {
        background: #171b1f !important;
        color: #b1b1b1 !important;
    }
    pre {
        background: #909090;
        border: rgba(0, 0, 0, 0);
    }
}

@-moz-document domain("github.com") {
    body, a, h1, h2, h3, .commit-tease, .pagehead, table, td, .file-header, .commit-tease-contributors, .user-mention, .Counter, #js-issues-toolbar, .js-issue-row, ul.pl-2, header, .description, .Header, .discussion-timeline-actions, .timeline-comment, .comment-form-head, article, .CodeMirror-linenumber, .CodeMirror-line, .CodeMirror-scroll, .CodeMirror-gutter, .CodeMirror-lines, .markdown-body, button.btn.btn-sm.btn-with-count.js-toggler-target, span.num.text-emphasized, div.commit.full-commit.px-2.pt-2, div.commit-meta.clearfix.p-2.no-wrap.d-flex.flex-items-center, div.thread-subscription-status, #new_commit_comment_field, p.drag-and-drop.position-relative, button.btn.btn-sm.BtnGroup-item, .select-menu-header, .select-menu-filters, .select-menu-title, .dashboard-notice.js-notice, .filter-repos.filter-bar, .user-repos .boxed-group-inner, .user-repos .filter-bar, .blankslate, #issue_body, .Box-header, li.Box-row, span.num, .timeline-comment-header, .btn-with-count, .thread-subscribe-form button, .text-gray-dark, .js-notice, .user-profile-nav, ul.filter-list, .profile-timeline-month-heading, .profile-timeline-year-list, .ajax-pagination-btn, .user-profile-mini-vcard, .user-profile-sticky-bar::after, li.commit.open, li.commit.navigation-focus, pre.text-small, .zeroclipboard-button, button.js-details-target, svg.octicon-git-commit, .mergeability-details, div.merge-status-item.d-flex.flex-items-baseline {
        background: #171b1f !important;
        color: #b1b1b1 !important;
    }
    input,
    #new-comment-field {
        background: 0 0;
    }
    .commit-title,
    .text-emphasized {
        color: #106696 !important;
    }
    div.commit.full-commit.px-2.pt-2,
    .select-menu-list div,
    .thread-subscribe-form button,
    .gh-header-actions a,
    button.js-details-target {
        border-color: #106696 !important;
        border: 1px #106696 !important;
        border-style: solid !important;
    }
    
    .select-menu-modal,
    .select-menu-tabs,
    .timeline-comment-wrapper,
    .user-profile-sticky-bar::after,
    .user-profile-nav,
    .branch-action-item div button{
        border: 0px !important;
    }
    .js-graph svg,
    .tint-box svg,
    .contributors-master {
        background: #b1b1b1 !important;
    }
    .pl-smi,
    strong {
        background: #171b1f !important;
        color: white !important;
    }
    .tint-box {
        background: #106696 !important;
    }
    .pl-s {
        color: #01499c;
    }
    .link-gray-dark {
        color: #698096 !important;
    }
    .cm-string {
        color: #005bc5;
    }
    span.blob-code-inner {
        color: #657280;
    }
}

@-moz-document domain("twitter.com") {
    body, .global-nav-inner, .tweet, .module, .home-tweet-box, .flex-module, .Footer, strong, .inline-reply-tweetbox, p, .ProfileNav-list, .ProfileHeading-toggle, .ProfileCanopy-navBar.u-boxShadow, .ProfileNav-item, li.is-active span, .ActivityItem, .QuoteTweet-innerContainer, .tweet-content, .QuoteTweet-text, h3, .DMActivity-header, .DMInbox-tab, h2, .DMInbox-conversationItem, b, .DMInboxItem, .recap-header {
        background: #171b1f !important;
        color: #b1b1b1 !important;
    }
}

@-moz-document domain("www.google.com") {
    body, .fbar, a, p, span, div, input {
        background: #171b1f !important;
        color: #b1b1b1 !important;
    }
    input {
        padding: 1px !important;
        padding-left: 4px !important;
        padding-right: 3px !important;
        border-color: #106696 !important;
        border: 1px #106696 !important;
        border-style: solid !important;
        border-radius: 10px !important;
    }
}
