@-moz-document domain("www.youtube.com") {
html, #page, #masthead-appbar, #content, div .yt-card, .yt-uix-sessionlink, .yt-lockup-byline, #yt-masthead-container, #appbar-guide-menu, #masthead-positioner-height-offset, button.edit-button, button.remove-watched-button, button.playlist-add-video-button, button.yt-uix-inlineedit-edit, #footer, #footer-container, #body-container, li.currently-playing, #watch-appbar-playlist, .playlist-title, h4, .yt-uix-scroller-scroll-unit, .pl-video-edit-more, .yt-uix-menu-trigger, .yt-uix-menu-trigger-selected, .yt-uix-menu-content, .yt-ui-menu-content, .pl-video-edit-remove, .yt-ui-menu-item, #yt-picker-language-button, #yt-picker-country-button, #yt-picker-safetymode-button, #google-help, .yt-picker, .secondary-header-contents, .yt-live-chat-item-list-renderer, .yt-lockup-description, .yt-uix-livereminder-main-button, .comment-simplebox, .comment-simplebox-text, .comment-simplebox-cancel, .dashboard-widget-header, .dashboard-widget-padded-content, .dashboard-widget-view-all-link, .shelf-description, .yt-uix-button, .ytd-masthead, ytd-guide-section-renderer, ytd-playlist-sidebar-renderer, ytd-section-list-renderer, #non-appbar-vm-video-actions-bar, .vm-video-item, .yt-uix-pager, #vm-pagination, yt-live-chat-header-renderer, yt-live-chat-message-input-renderer, .yt-live-chat-viewer-engagement-message-renderer, .title.yt-ui-ellipsis, .description.yt-uix-expander .yt-ui-ellipsis, .description.yt-uix-expander, #masthead-search-term {
        background: #171b1f !important;
    }
    #masthead-appbar,
    #yt-masthead-container,
    div#appbar-guide-menu,
    #watch8-action-buttons {
        border: #171b1f !important;
    }
    .epic-nav-item-heading,
    .yt-uix-button-content,
    .branded-page-module-title-text,
    .display-name.no-count,
    .display-name,
    span.yt-badge,
    #eow-title,
    #eow-description,
    .yt-uix-sessionlink,
    .comment-renderer-text-content,
    .watch-time-text,
    .pl-header-title,
    #footer-links-primary li a,
    .yt-ui-menu-item,
    #yt-picker-language-button,
    #yt-picker-country-button,
    #yt-picker-safetymode-button,
    #google-help,
    .yt-picker,
    h3,
    strong,
    .secondary-header-contents,
    span.nav-text,
    h4,
    .yt-live-chat-item-list-renderer,
    #message,
    #author-name,
    .yt-lockup-description,
    .yt-uix-livereminder-main-button,
    .comment-simplebox-text,
    .comment-simplebox-cancel,
    h2 a,
    p.total,
    .dashboard-widget-header,
    .dashboard-widget-padded-content,
    .shelf-description,
    .yt-uix-button,
    ytd-guide-section-renderer,
    ytd-playlist-sidebar-renderer,
    ytd-section-list-renderer,
    .yt-formatted-string,
    yt-formatted-string,
    .ytd-grid-video-renderer,
    #title,
    .vm-video-side-view-count a,
    yt-live-chat-header-renderer,
    paper-button #label-text, 
    yt-live-chat-message-input-renderer, .description.yt-uix-expander .yt-ui-ellipsis, #masthead-search-term {
        color: #b1b1b1 !important;
    }
    .yt-uix-dragdrop-drag-handle,
    .addto-watchlater-button,
    .addto-watchlater-success {
        background: #106696 !important;
        color: #106696 !important;
    }
    h2 a,
    li div,
    .dashboard-channel-link {
        text-shadow: None !important;
    }
    span.title,
    span#eow-title,
    .dashboard-widget-view-all-link,
    #video-title, .title.yt-ui-ellipsis a {
        color: #106696 !important;
    }
    .comment-simplebox-arrow {
        display: none;
    }
    #guide-button,
    .yt-uix-button-icon-material-upload,
    #yt-masthead-notifications-button {
        border: 1px #106696 !important;
        border-style: solid !important;
    }
}

@-moz-document domain("kitsu.io") {
html, .global-container, tr, div.card, body, .modal-content, .modal-footer,
    .favorite-series-panel .nav-tabs, .nav-link .active, .add-content-header,
    .stream-content-editor, .add-content-footer, .tag-media div div input,
    .add-content-expanded, .library-issues--title span, .settings--header,
    .import-option, .stream-item, .stream-item--title-block, .aggregate-date,
    .aggregate-wrapper button, .tagged-media, .add-comment-wrapper,
    .stream-item-comments, .timeline-link.active, .media-browse div {
        background: #171b1f !important;
    }
    nav, .stream-item-comments {
        background: 0 0 !important;
        border: rgba(0, 0, 0, 0) !important;
    }
    .dark-cover-overlay,
    input#search,
    .library-search-input {
        background: 0 0 !important;
    }
    .library-search-input,
    th,
    .title-wrapper a,
    .current-rating,
    h5, h6,
    label,
    .about-me-panel p,
    .about-me-stats,
    .stream-content-editor,
    .tag-media div div input,
    .library-issues--title span,
    .import-option span,
    .stream-item, .aggregate-date,
    .aggregate-wrapper button{
        color: #b1b1b1 !important;
    }
    .nav-link .active {
        border: #171b1f !important;
    }
    .stream-add-content, .add-comment-wrapper {
        border: #106696 !important;
        border-width: 1px !important;
        border-style: solid !important;
    }
    .nav-item.active {
        background: #105686 !important;
        border: #106696 !important;
        border-width: 1px !important;
        border-style: solid !important;
        color: rgb(177, 177, 177) !important;
    }
    .media.new-comment {
        border-width: 0px !important;
    }
}

@-moz-document domain("news.ycombinator.com") {
html, body, table, a, span {
        background: #171b1f !important;
        color: #b1b1b1 !important;
    }
}

@-moz-document domain("omz-software.com") {
html, body, .document, #module-ui, a, h1, h2, h3, tt, div, nav, code, input, select, button {
        background: #171b1f !important;
        color: #b1b1b1 !important;
    }
    pre, pre code {
        background: #06006e !important;
        border: rgba(0, 0, 0, 0);
    }
    a tt span {
        color: #106696 !important;
    }
    .highlight .o {
        color: #8d901a !important;
    }
    .fade-out {
        display: none;
    }
    .python {
        color: aquamarine !important;
    }
    input, select, button {
        border-color: #106696 !important;
        border: 1px #106696 !important;
        border-style: solid !important;
    }
}

@-moz-document domain("github.com") {
html, body, a, h1, h2, h3, .commit-tease, .pagehead, table, td, .file-header, .commit-tease-contributors, .user-mention, .Counter, #js-issues-toolbar, .js-issue-row, ul.pl-2, header, .description, .Header, .discussion-timeline-actions, .timeline-comment, .comment-form-head, article, .CodeMirror-linenumber, .CodeMirror-line, .CodeMirror-scroll, .CodeMirror-gutter, .CodeMirror-lines, .markdown-body, button.btn.btn-sm.btn-with-count.js-toggler-target, span.num.text-emphasized, div.commit.full-commit.px-2.pt-2, div.commit-meta.clearfix.p-2.no-wrap.d-flex.flex-items-center, div.thread-subscription-status, #new_commit_comment_field, p.drag-and-drop.position-relative, button.btn.btn-sm.BtnGroup-item, .select-menu-header, .select-menu-filters, .select-menu-title, .dashboard-notice.js-notice, .filter-repos.filter-bar, .user-repos .boxed-group-inner, .user-repos .filter-bar, .blankslate, #issue_body, .Box-header, li.Box-row, span.num, .timeline-comment-header, .btn-with-count, .thread-subscribe-form button, .text-gray-dark, .js-notice, .user-profile-nav, ul.filter-list, .profile-timeline-month-heading, .profile-timeline-year-list, .ajax-pagination-btn, .user-profile-mini-vcard, .user-profile-sticky-bar::after, li.commit.open, li.commit.navigation-focus, pre.text-small, .zeroclipboard-button, button.js-details-target, svg.octicon-git-commit, .mergeability-details, div.merge-status-item.d-flex.flex-items-baseline, button.select-menu-button, input#context-commitish-filter-field, a span.tag-name, .pr-toolbar, .diffbar, button strong, .closed-banner, a code, nav .selected, #new_comment_field, #partial-new-comment-form-actions button, .comment-body pre, #progressive-timeline-item-container form, .discussion-item-header .Box.d-inl, ine-flex, .Box.d-inline-flex button, clipboard-copy, #js-issues-search, #your-repos-filter, #org-repositories div div, .auto-search-group input, .follow form button, .repository-content .mb-3, .Box-body, .Box.p-3.mt-2, details-menu, .merge-message, #deployment_environment_github-pages .Box-row.d-flex, summary.btn, .js-repo-features-form .Box, .bg-blue-light.border.border-blue-light.rounded-1.pl-5.p-3.my-3, .js-merge-features-form, #options_bucket .Box, .access-form-wrapper, span.lang, span.percent, #repo-meta-edit summary div div span, .activity-overview-box, .profile-timeline-card, .Popover-message, div.bg-gray-light.border-bottom, .container-lg, .blame-blob-num, button.btn, .js-notification, .js-blob-edit-tab, select {
        background: #171b1f !important;
        color: #b1b1b1 !important;
    }
    input,
    #new-comment-field {
        background: 0 0;
    }
    .commit-title,
    .text-emphasized {
        color: #106696 !important;
    }
    div.commit.full-commit.px-2.pt-2,
    .select-menu-list div,
    .thread-subscribe-form button,
    .gh-header-actions a,
    button.ellipsis-expander,
    .js-edit-repo-meta-togglem,
    button.select-menu-button,
    .highlight pre,
    nav .selected,
    #partial-new-comment-form-actions button,
    .comment-body pre,
    #your-repos-filter,
    .follow form button, summary.btn, #repo-meta-edit summary div div span.btn, button.btn {
        border-color: #106696 !important;
        border: 1px #106696 !important;
        border-style: solid !important;
    }
    .select-menu-modal,
    .select-menu-tabs,
    .timeline-comment-wrapper,
    .user-profile-sticky-bar::after,
    .user-profile-nav,
    .branch-action-item div button,
    button.btn-link.f6.h-condensed.js-repo-topics-form-toggle.js-details-target,
    .diffbar-item button {
        border: 0px !important;
        border-style: none !important;
    }
    .js-graph svg,
    .tint-box svg,
    .contributors-master {
        background: #b1b1b1 !important;
    }
    .pl-smi,
    strong {
        background: #171b1f !important;
        color: white !important;
    }
    .tint-box {
        background: #106696 !important;
    }
    .blob-code-addition, .blob-code-addition span {
        color: black !important;
        background: #106696 !important;
    }
    .blob-code-deletion {
        color: black !important;
        background: #49095a !important;
    }
    .pl-s {
        color: #01499c;
    }
    .link-gray-dark {
        color: #698096 !important;
    }
    .cm-string {
        color: #005bc5;
    }
    span.blob-code-inner {
        color: #657280;
    }
    .highlight pre {
        background: #171b1f !important;
    }
    .closed-banner {
        border-bottom-color: #171b1f !important;
    }
    .IssueLabel a {
        background: rgba(0, 0, 0, 0) !important;
        color: black !important;
    }
    .border-bottom {
        border-bottom: 0px solid #657280 !important;
    }
    .blob-code {
        color: #d1d1d1 !important;
    }
    .tabnav-tab.js-blob-edit-tab {
        border-color: #d1d5da !important;
        border-radius: 3px 3px 0 0 !important;
    }
}

@-moz-document domain("twitter.com") {
html, body, .global-nav-inner, .tweet, .module, .home-tweet-box, .flex-module, .Footer, strong, .inline-reply-tweetbox, p, .ProfileNav-list, .ProfileHeading-toggle, .ProfileCanopy-navBar.u-boxShadow, .ProfileNav-item, li.is-active span, .ActivityItem, .QuoteTweet-innerContainer, .tweet-content, .QuoteTweet-text, h3, .DMActivity-header, .DMInbox-tab, h2, .DMInbox-conversationItem, b, .DMInboxItem, .recap-header {
        background: #171b1f !important;
        color: #b1b1b1 !important;
    }
}

@-moz-document domain("www.google.com") {
html, body, .fbar, a, p, span, div, input {
        background: #171b1f !important;
        color: #b1b1b1 !important;
    }
    input {
        padding: 1px !important;
        padding-left: 4px !important;
        padding-right: 3px !important;
        border-color: #106696 !important;
        border: 1px #106696 !important;
        border-style: solid !important;
        border-radius: 10px !important;
    }
}

@-moz-document domain("encrypted.google.com") {
html, body, .fbar, a, p, span, div, input {
        background: #171b1f !important;
        color: #b1b1b1 !important;
    }
    input {
        padding: 1px !important;
        padding-left: 4px !important;
        padding-right: 3px !important;
        border-color: #106696 !important;
        border: 1px #106696 !important;
        border-style: solid !important;
        border-radius: 10px !important;
    }
}

@-moz-document domain("dwarffortresswiki.org") {
html, body, p, span, div, input, table, code, td {
        background: #171b1f !important;
        color: #b1b1b1 !important;
    }
    a, b {
        color: #106696 !important;
    }
    .version-table {
        border-color: #106696 !important;
        border: 1px #106696 !important;
        border-style: solid !important;
    }
    .version-table {
        margin-top: 5px !important;
    }
    span {
    	text-shadow: none !important;
    }
}

@-moz-document domain("duckduckgo.com") {
html, body, .header, .header--aside, #header_wrapper, form, input, .highlight, .acp-wrap, .acp--highlight, .onboarding-ed__slide {
        background: #171b1f !important;
        color: #b1b1b1 !important;
    }
    .search-filters-wrap::before, .search-filters-wrap::after {
        background-image: none !important;
    }
    .header__search, .search-wrap--home {
        border-color: #106696 !important;
        border: 1px #106696 !important;
        border-style: solid !important;
    }
}

@-moz-document domain("docs.python-requests.org") {
html, body, input, .body, p, .note {
        background: #171b1f !important;
        color: #b1b1b1 !important;
    }
    a, h3 {
        color: #106696 !important;
    }
}

@-moz-document domain("pypi.python.org") {
html, body, input, p, h1, #document-navigation, pre, a {
        background: #171b1f !important;
        color: #b1b1b1 !important;
    }
    a, h3 {
        color: #106696 !important;
    }
    input, select, button, pre {
        border-color: #106696 !important;
        border: 1px #106696 !important;
        border-style: solid !important;
    }
}

@-moz-document domain("www.roguebasin.com") {
/*
    --background-grey: #171b1f;
    --text-grey: #b1b1b1;
    --text-blue: #106696;
    */

    html, body, p, #content, h1, .toc, h2, h3, h4, h5, table, .pBody, .pBody ul li a {
    	background:  #171b1f !important;
    	color: #b1b1b1 !important;
    }
    
    a, .de1 {
        color: #106696 !important;
    }
    
    .nu0, .sy0 {
    	color: #b1b1b1 !important;
    }
    
    table {
        border-color: #106696 !important;
        border: 1px #106696 !important;
        border-style: solid !important;
    }
    
    li.selected {
        border-color: #106696 !important;
    }
}

@-moz-document domain("myanimelist.net") {
html, body, p, #content, h1, h2, h3, h4, h5, table, .initialize-tutorial, .icon-user-function, .user-status li, #contentWrapper, #footer-block, #headerSmall, .td1, .td1 a span, .td1 div small a, .td1 a, .status_not_selected, .status_not_selected a, .ranking-digest ul, .ranking-digest, .normal_header, .navi-seasonal, .seasonal-anime div div, #hide-advanced-button, .header-notification-item-list, .header-notification-view-all a, #horiznav_nav ul li a, #horiznav_nav ul li, .button_add {
    background:  #171b1f !important;
    color: #b1b1b1 !important;
}
.td2, .td2 a span, .td2 div small a, .td2 a, .table_header, .table_header a strong, .table_header strong a, .table_header b a, .status_selected, .status_selected a, .genre {
    background:  #105686 !important;
    color: #171b1f !important;
}
.button_edit, .button_add, .initialize-tutorial, .h1, #content, .left-column, .borderClass, .item, .news-unit, div.genre-list.al, .seasonal-anime, #dialog {
    border: 0px !important;
}
.genre a {
    color: white !important;
}
}

@-moz-document domain("dobrazupa.org") {
.page_content, .page, .page_back, .toplinks, tr.even td, th, td, .player_clan {
    background:  #171b1f !important;
    color: #b1b1b1 !important;
}

a {
    color: #106696 !important;
}

hr {
    border: 0px !important;
}
}

@-moz-document url-prefix("http://crawl.chaosforge.org") {
html, body, p, span, div, input, table, code, td, th {
    background: #171b1f !important;
    color: #b1b1b1 !important;
}
a, b, h1 {
    color: #106696 !important;
}
.version-table {
    border-color: #106696 !important;
    border: 1px #106696 !important;
    border-style: solid !important;
}
.version-table {
    margin-top: 5px !important;
}
span {
    text-shadow: none !important;
}
}
